.dayDate {
    margin: 10px 20px 10px;
    padding: 10px;
    border: 1px solid var(--blue1);
    border-radius: 15px;
    font-size: 1.5rem;
    color: var(--black);
    display: flex;

    justify-content: center;
    box-shadow: 0px 8px 20px var(--black);
    right: 0;
}
@media screen and (min-width: 405px) {
    .dayDate {
        font-size: 1.5rem;
    }
}
