.signInContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--grey);
    margin: 10px auto 0;
    max-width: 420px;
    border-radius: 8px;
}
.signInContainer input {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}
.signInContainer input[type="submit"] {
    border-radius: 120px;
    border: none;
    margin: 20px auto 0;
    width: 70%;
    background-color: var(--blue1);
    color: var(--white);
    font-weight: 600;
}
.error {
    text-align: center;
    margin-top: 5px;
    color: var(--red);
}

.information {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

@media screen and (min-width: 470px) {
    .signInContainer {
    }
}
